.coach {
    display: flex;
    flex-wrap: nowrap;
    border-radius: 6px;
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    width: 100%;
    padding: 12px 16px;
}